.hero__inner{
    width: 445px;
    padding-top: 199px;
}
.hero__titel{
    font-weight: 700;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
}
.hero_paragraph{
    font-weight: 300;
    font-size: 21px;
    line-height: 32px;
    color: #7D7987;
}
.hero_button{
    margin-top: 45px;
    font-size: 18px;
    font-size: 18px;
    line-height: 60px;
}
.container_hero{
    display: flex;
    justify-content: center;
    padding-top: 100px;

}
.hero{
    background-image: url(/Images/element.svg);
    background-repeat: no-repeat;
    background-position: top 200px left -45px;
}
.hero__image{
    margin-left: 95px;
    margin-top: 84px;
}
@media screen and (max-width: 1170px) {
    .container_hero{
        display:flex;
        align-items: center;
        flex-direction: column-reverse;
    }
    .hero__inner{
        margin-top: -70px;
    }
}
@media screen and (max-width: 794px) {
    .hero__image{
        height:100%;
        width: 100%;
        margin: 0 auto;
        margin-top: 100px;
    }
    .hero_paragraph{
        font-size: 15px;
        
    }
    .hero__inner{
        width: 100%;
    }
}
