.con{
    width: 100%;
}
.services__inner{
    margin-top: 222px;
    text-align: center;

}
.services_paragraph{
    color: #7D7987;
}
.defult_button.outlined{
    margin-top: 69px;
    background: transparent;
    border: 1.4px solid #458FF6;
    border-radius: 55px;
    color:#458FF6;
    font-weight: 700px;
}
.services__image{
    margin-right: 100px;
}
.services{
    background-image: url(/Images/bg\ element.svg);
    background-repeat: no-repeat;
    background-position: top 150px right 900px;
    height: 100%;
}
.first_service_boxes{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    
}
.second_service_boxes{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    
}
.box{
    margin-top: 80px;
    width: 350px;
    height: 354px;
    background: #FFFFFF;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
}
.box_image{
    margin-top: 33px;
    margin-right: 221px;
    size: 70%;
}
.box_title{
    font-weight: 700;
    font-size: 24px;
    line-height: 56px;
    color: #000000;
}
.box_paragraph{
    font-weight: 300;
    font-size: 16px;
    line-height: 28px;
    color: #7D7987;
}
.box_inner{ 
    margin-left: 35px;
    text-align: initial;
}
.first_doted_img{
    display: block;
    margin-top: 30px;
    margin-left: 1400px;
}
.second_doted_img{
    margin-left: -480px;
    margin-top: 1px;
}

@media screen and (max-width: 1440px) {
    .first_service_boxes{
        flex-direction: column;
    }
    .second_service_boxes{
        flex-direction: column;
    }
    .all_boxes{
        display: flex;
    }
    .first_doted_img{
        display: none;
    }
    .second_doted_img{
        display: none;
    }
}
@media screen and (max-width: 794px) {
    .first_service_boxes{
        flex-direction: row;
        overflow-x: auto;
    }
    .second_service_boxes{
        flex-direction: row;
        overflow-x: auto;
    }
    .all_boxes{
        flex-direction: column ;
    }
}